<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <nav>
        <div class="navContainer">
            <div class="navItem">
                <a href="/">
                    <h2 id="title">.DevTools</h2>
                </a>
            </div>
            <div class="navItem">
                <a href="/monitors"><button id="nav-btn">Monitors</button></a>
            </div>
            <div class="navItem">
                <a href="/keyboards"><button id="nav-btn">Keyboards</button></a>
            </div>
            <div class="navItem">
                <a href="/mouse"><button id="nav-btn">Mouse</button></a>
            </div>
            <div class="navItem">
                <a href="/headphones"><button id="nav-btn">Headphones</button></a>
            </div>
            <div class="navItem">
                <a href="https://github.com"><button id="nav-btn">GitHub</button></a>
            </div>
        </div>
    </nav>
    <main id="main-content">{{{body}}}</main>
</body>
<script type="module" src="/static/js/index.js"></script>

</html>