<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>DevTools</title>
</head>

<body>
    <nav>
        <ul class="sidebar">
            <li onclick="hideSidebar()"><a href="/" id="sideMenu"><svg xmlns="http://www.w3.org/2000/svg" height="28px"
                        viewBox="0 -960 960 960" width="28px" fill="#000000">
                        <path
                            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                    </svg></a></li>
            <li><a href="/monitors" id="sideMenu">Monitors</a></li>
            <li><a href="/keyboards" id="sideMenu">Keyboards</a></li>
            <li><a href="/mouse" id="sideMenu">Mouse</a></li>
            <li><a href="/headphones" id="sideMenu">Headphones</a></li>
            <li><a href="/community" id="sideMenu">Community</a></li>
        </ul>
        <div class="navContainer">
            <div class="navItem">
                <a href="/">
                    <h2 id="title">.DevTools</h2>
                </a>
            </div>
            <div class="navItem hideOnMobile">
                <a href="/monitors"><button class="nav-btn">Monitors</button></a>
            </div>
            <div class="navItem hideOnMobile">
                <a href="/keyboards"><button class="nav-btn">Keyboards</button></a>
            </div>
            <div class="navItem hideOnMobile">
                <a href="/mouse"><button class="nav-btn">Mouse</button></a>
            </div>
            <div class="navItem hideOnMobile">
                <a href="/headphones"><button class="nav-btn">Headphones</button></a>
            </div>
            <div class="navItem hideOnMobile">
                <a href="https://github.com"><button class="nav-btn">GitHub</button></a>
            </div>
            <span id="menu-btn" class="menuIcon" onclick="showSidebar()" aria-label="Open Menu">
                <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px"
                    fill="#000000">
                    <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                </svg>
            </span>
        </div>
    </nav>
    <main id="main-content">{{{body}}}</main>
</body>
<script>

</script>
<script type="module" src="/static/js/index.js"></script>
<script src="https://js.stripe.com/v3/"></script>

</html>