<div class="community-container">
    <div class="message-card">
        <span class="message_card__title">Message !</span>
        <p class="message_card__content">Create an account to interact with the community.
        </p>
        <div class="message_card__form">
            {{!-- <input placeholder="Your Email" type="text"> --}}
            <button class="sign-up"> Create Account</button>
            <span id="or"> -- or --</span>
            <button class="sign-up"> Login</button>
        </div>
    </div>
</div>