<div class="container">
    <div class="item item-1" style="background-image: url(/static/images/monitor.jpg)">
        <div class="glass">
            <p>The 5 Best Monitors For Programming.</p>
        </div>
    </div>

    <div class="item item-2" style="background-image: url(/static/images/keyboard.jpg)">
        <div class="glass">
            <p>Find Keyboards to Suit Every Style and Need.</p>
        </div>
    </div>
    <div class="item item-3" style="background-image: url(/static/images/mouse.jpg)">
        <div class="glass">
            <p>Ergonomic Design for Productivity.</p>
        </div>
    </div>
    <div class="item item-4" style="background-image: url(/static/images/headphones.jpg)">
        <div class="glass">
            <p>Crisp Audio = Total Engagement.</p>
        </div>
    </div>
    <div class="item item-5" style="background-image: url(/static/images/setUp.jpg)">
        <div class="glass">
            <p id="community">Share your set up with the community.</p>
        </div>
    </div>
</div>