<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <% if (cssFile) { %>
    <link rel="stylesheet" href="/css/<%= cssFile %>" />
    <% } %>
    <title><%= title %></title>
  </head>
  <body>
    <nav>
      <div class="navContainer">
        <div class="navItem"><h2 id="title">.DevTools</h2></div>
        <div class="navItem">
          <a href="/monitors"><button>Monitors</button></a>
        </div>
        <div class="navItem">
          <a href="/keyboards"><button>Keyboards</button></a>
        </div>
        <div class="navItem">
          <a href="/mouse"><button>Mouse</button></a>
        </div>
        <div class="navItem">
          <a href="/headphones"><button>Headphones</button></a>
        </div>
        <div class="navItem">
          <a href="https://github.com"><button>GitHub</button></a>
        </div>
      </div>
    </nav>
    <main><%- body %></main>
  </body>
</html>
