<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>DevTools</title>
  </head>
  <body>
    <nav>
      <div class="navContainer">
        <div class="navItem"><h2 id="title">.DevTools</h2></div>
        <div class="navItem">
          <button>Monitors</button>
        </div>
        <div class="navItem"><button>Keyboards</button></div>
        <div class="navItem"><button>Mouse</button></div>
        <div class="navItem"><button>Headphones</button></div>
        <div class="navItem"><button>GitHub</button></div>
      </div>
    </nav>
  </body>
</html>
`
